<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" data-toggle="tooltip" data-placement="top" title="Home">| Home |
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/note/listNote" data-toggle="tooltip" data-placement="top"
                       title="Employee">| Note |
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/customer/listCustomer" data-toggle="tooltip" data-placement="top"
                       title="Customer">| Note type |
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<script src="/static/js/jquery-3.5.1.min.js"></script>
