<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/image/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" data-toggle="tooltip" data-placement="top" title="Home">| Home |
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/employee/listEmployee" data-toggle="tooltip" data-placement="top"
                       title="Employee">| Employee |
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/customer/listCustomer" data-toggle="tooltip" data-placement="top"
                       title="Customer">| Customer |
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/service_resort/listServiceResort" data-toggle="tooltip"
                       data-placement="top" title="Service">| Service |
                        <span
                                class="sr-only">(current)
                        </span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contract/listContract" data-toggle="tooltip" data-placement="top"
                       title="Contract">| Contract |
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/attach/listAttach" data-toggle="tooltip" data-placement="top"
                       title="Contract">| Attach Service |
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/booking" data-toggle="tooltip" data-placement="top"
                       title="Contract">| Booking |
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <th:block>
                <a class="btn btn-outline-success my-2 my-sm-0" th:if="${#request.userPrincipal == null}" th:href="@{/login}">Log In</a>
            </th:block>
            &nbsp
            <th:block th:if="${#request.userPrincipal != null}">
                <a class="btn btn-outline-success my-2 my-sm-0"><span>Welcome: </span><span th:text="${#request.userPrincipal.name}"></span></a>
                &nbsp<a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/logout}">Log Out</a>
            </th:block>

        </form>
    </nav>
</div>
<script src="/js/jquery-3.5.1.min.js"></script>
