<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul th:replace="fragments/header :: navigation"></ul>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Sku</th>
        <th>Price</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td><a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}"></a></td>
<!--            <td th:text="${product.name}"></td>-->
            <td th:text="${product.sku}"></td>
            <td th:text="${product.price}"></td>
<!--            <td><a th:href="@{/product/{id}(id=${product.id})}"><butto>View</butto></a></td>-->
            <td>
                <form  th:action="@{/cart/add}" method="post">
                    <input type="hidden" th:value="${product.id}" name="id">
                    <button type="submit">Them Vao Gio Hang</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>