<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/layout ::head">
<body>
<div class="container-fluid">
    <h3>List Blog</h3>
    <p>
        <a th:href="@{/blog/create}">
            <button class="btn btn-secondary btn-lg">Add new Blog</button>
        </a>
    </p>
    <div id="notify">
        <div th:if="${success}"><span th:text="${success}"></span></div>
    </div>
    <form action="/listBlog" class="form-inline">
        <div class="input-group mb-3">
            <input type="text" class="form-control mr-sm-2" placeholder="Input Title" name="input">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search Title</button>
            </div>
        </div>
    </form>

    <table class="table table-hover table-bordered display">
        <thead>
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date Update</th>
            <th>Introduce</th>
            <th colspan="3">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${blogList}">
            <td th:text="${row.category.nameCategory}"></td>
            <td th:text="${row.title}"></td>
            <td th:text="${row.author}"></td>
            <td th:text="${row.dateUpdate}"></td>
            <td th:text="${row.getShortWord()}" data-toggle="tooltip" data-placement="top" th:title="${row.introduce}"></td>
            <td style="text-align: center"><a th:href="@{/blog/{id}/edit(id=${row.getId()})}">
                <button class="btn btn-success btn-lg">Edit</button>
            </a></td>
            <td style="text-align: center"><a th:href="@{/blog/{id}/delete(id=${row.getId()})}">
                <button class="btn btn-danger btn-lg">Delete</button>
            </a></td>
            <td style="text-align: center"><a th:href="@{/blog/{id}/view(id=${row.getId()})}">
                <button class="btn btn-warning btn-lg">View</button>
            </a></td>
        </tr>
        </tbody>
    </table>
    <a th:if="${blogList.hasPrevious()}" th:href="@{/listBlog(page = ${blogList.number - 1}, keyword = ${inputCheck})}"><button type="button" class="btn btn-outline-primary">Back</button></a>
    <span th:text="${blogList.number + 1}"></span>/<span th:text="${blogList.totalPages}"></span>
    <a th:if="${blogList.hasNext()}" th:href="@{/listBlog(page = ${blogList.number + 1}, keyword = ${inputCheck})}"><button type="button" class="btn btn-outline-primary">Next</button></a>
</div>

<footer th:replace="blog/layout :: footer"></footer>
</body>
</html>