<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head">
<body>

<div class="container-fluid">
    <h3>Add Contract</h3>
    <p>
        <a th:href="@{/contract/listContract}">
            <button class="btn btn-outline-primary">Back to contract list</button>
        </a>
    </p>
    <div id="form">
        <form action="#" th:action="@{/contract/save}" th:object="${contract}" method="POST" novalidate="novalidate">
            <input type="hidden" th:field="*{id}"/>
            <div class="row">
                <div class="col">
                    <h4>List Booking Attach Service</h4>
                    <table class="table table-hover table-bordered display">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name attach service</th>
                            <th>Cost attach Service</th>
                            <th>Total Attach Service</th>
                            <th>Quantity Attach Service</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="row : ${attachListBook}">
                            <td th:text="${row.attachName}"></td>
                            <td th:text="${row.attachCost}"></td>
                            <td th:text="${row.attachUnit}"></td>
                            <td th:text="${row.attachStatus}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Contract Start Day</label>
                        <input id="start" type="date" th:field="*{startDate}" class="form-control">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('startDate')}"
                               th:errors="*{startDate}"></small>
                    </div>
                    <div class="form-group">
                        <label>Contract End Day </label>
                        <input id="end" type="date" th:field="*{endDate}" class="form-control">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('endDate')}"
                               th:errors="*{endDate}"></small>
                    </div>
                    <div class="form-group">
                        <label>Employee</label>
                        <select id="select_emp" class="form-control" th:field="*{employee}">
                            <option
                                    th:each="employee : ${employeeList}"
                                    th:value="${employee.id}"
                                    th:text="${employee.nameEmployee}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Customer</label>
                        <select id="select_cus" class="form-control" th:field="*{customer}">
                            <option
                                    th:each="customer : ${customerList}"
                                    th:value="${customer.id}"
                                    th:text="${customer.nameCustomer}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Deposit</label>
                        <input id="deposit" type="number" th:field="*{deposit}" class="form-control" min="0" placeholder="Input Deposit" name="deposit">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('deposit')}"
                               th:errors="*{deposit}"></small>
                    </div>
                    <div class="form-group">
                        <label>Total</label>
                        <input id="total" type="text" th:field="*{total}" class="form-control" placeholder="Total" readonly>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('total')}"
                               th:errors="*{total}"></small>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col"><p><button class="btn btn-outline-success" type="reset">Reset</button></p></div>
                    <div class="col"><p><button id="btn" type="button" class="btn btn-outline-success">Update Total</button></p></div>
                    <div class="col"><p><button type="submit" class="btn btn-outline-success">Save</button></p></div>
                </div>
            </div>



        </form>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
