table th{
    text-align: center;
}
body{
    font-family: "Times New Roman";
    font-size: 20px;
}
.notify {
    text-align: center;
}
h3 {
    background-color: blue;
    color: white;
    text-align: center;
}
p{
    text-align: center;
}

h4{
    color: blueviolet;
    text-align: center;
}
footer {
    margin: 10px 0;
}
pre{
    white-space: pre-wrap;
    text-align: justify;
    font-family: "Times New Roman";
}

input[type=submit]:hover {
    background-color: #45a049;
}

#form {
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
}
#message{
    color: red;
}
.notify span {
    color: blue;
}