<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div class="container-fluid">
    <h3>Edit Blog</h3>
    <p>
        <a th:href="@{/listCategory}">
            <button class="btn btn-primary btn-lg">Back to blog list</button>
        </a>
    </p>
    <div id="form">
        <form action="#" th:action="@{/category/update}" th:object="${category}"
              method="POST" novalidate="novalidate">
            <input type="hidden" th:field="*{id}"/>
            <table class="table table-hover table-bordered display">
                <tr>
                    <th>Name Category</th>
                    <td><input class="form-control" type="text" th:field="*{nameCategory}"/></td>
                </tr>
            </table>
            <button type="submit" class="btn btn-success">Modify</button>
        </form>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>