<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head">
<body>

<div class="container-fluid">
    <h3>Add Contract</h3>
    <p>
        <a th:href="@{/contract/listContract}">
            <button class="btn btn-outline-primary">Back to contract list</button>
        </a>
    </p>
    <div id="form">
        <form action="#" th:action="@{/contract/save}" th:object="${contract}" method="POST" novalidate="novalidate">

            <input type="hidden" th:field="*{id}"/>
            <div class="row">
                <div class="col">
                    <h4>List Booking Attach Service</h4>
                    <table class="table table-hover table-bordered display">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name attach service</th>
                            <th>Cost attach Service</th>
                            <th>Total Attach Service</th>
                            <th>Quantity Attach Service</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="itemAttach : ${session.bookingAttach.itemAttachList}">
                            <td th:text="${itemAttach.attachService.id}"></td>
                            <td th:text="${itemAttach.attachService.attachName}"></td>
                            <td th:text="${itemAttach.attachService.attachCost}"></td>
                            <td th:text="${itemAttach.subTotalAttach}"></td>
                            <td>
                                <input class="form-control" type="number" min="1" th:value="${itemAttach.quantity}"
                                       name="quantity_attach">
                            </td>
                            <td>
                                <form th:action="@{/book_attach/remove_book_attach}" method="post">
                                    <input class="form-control" type="hidden" th:value="${itemAttach.attachService.id}"
                                           name="id_attach">
                                    <button type="submit" class="btn btn-outline-success">Remove</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">Total Attach: <span id="attachTotalCost"
                                                                th:text="${session.bookingAttach.totalAttach}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <h4>List Booking Service Resort</h4>
                    <table class="table table-hover table-bordered display">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name service</th>
                            <th>Cost Service</th>
                            <th>Total Service</th>
                            <th>Quantity Service</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="itemService : ${session.bookingService.itemServiceList}">
                            <td th:text="${itemService.serviceResort.id}"></td>
                            <td th:text="${itemService.serviceResort.nameService}"></td>
                            <td th:text="${itemService.serviceResort.cost}"></td>
                            <td th:text="${itemService.subTotalService}"></td>
                            <td>
                                <input class="form-control" type="number" min="1" th:value="${itemService.quantity}"
                                       name="quantity_service">
                            </td>
                            <td>
                                <form th:action="@{/book_service/remove_book_service}" method="post">
                                    <input class="form-control" type="hidden" th:value="${itemService.serviceResort.id}"
                                           name="id_service">
                                    <button type="submit" class="btn btn-outline-success">Remove Cost Service</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">Total Service: <span id="serviceTotalCost"
                                                                 th:text="${session.bookingService.totalService}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Contract Start Day</label>
                        <input id="start" type="date" th:field="*{startDate}" class="form-control">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('startDate')}"
                               th:errors="*{startDate}"></small>
                    </div>
                    <div class="form-group">
                        <label>Contract End Day </label>
                        <input id="end" type="date" th:field="*{endDate}" class="form-control">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('endDate')}"
                               th:errors="*{endDate}"></small>
                    </div>
                    <div class="form-group">
                        <label>Employee</label>
                        <select id="select_emp" class="form-control" th:field="*{employee}">
                            <option
                                    th:each="employee : ${employeeList}"
                                    th:value="${employee.id}"
                                    th:text="${employee.nameEmployee}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Customer</label>
                        <select id="select_cus" class="form-control" th:field="*{customer}">
                            <option
                                    th:each="customer : ${customerList}"
                                    th:value="${customer.id}"
                                    th:text="${customer.nameCustomer}"></option>
                        </select>
                    </div>
                    <!--                    <div class="form-group">-->
                    <!--                        <label>Service Resort</label>-->
                    <!--                        <select id="selectService" class="form-control" th:field="*{serviceResort}">-->
                    <!--                            <option-->
                    <!--                                    th:data-price="${serviceResort.cost}"-->
                    <!--                                    th:date-renTypeCost="${serviceResort.rentType.renTypeCost}"-->
                    <!--                                    th:each="serviceResort : ${serviceResortList}"-->
                    <!--                                    th:value="${serviceResort.id}"-->
                    <!--                                    th:text="${serviceResort.nameService}"></option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->
                    <div class="form-group">
                        <label>Deposit</label>
                        <input id="deposit" type="number" th:field="*{deposit}" class="form-control" min="0"
                               placeholder="Input Deposit" name="deposit">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('deposit')}"
                               th:errors="*{deposit}"></small>
                    </div>
                    <div class="form-group">
                        <label>Total</label>
                        <input id="total" type="text" th:field="*{total}" class="form-control" placeholder="Total"
                               readonly>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('total')}"
                               th:errors="*{total}"></small>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col"><p><button id="btn" type="button" class="btn btn-outline-success">Update Total</button></p></div>
                    <div class="col"><p><button class="btn btn-outline-success" type="reset">Reset</button></p></div>
                    <div class="col"><p><button type="submit" class="btn btn-outline-success">Save</button></p></div>
                </div>
            </div><



        </form>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
