<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout ::head">
<body>

<div class="container-fluid">
    <form th:object="${signUp}" action="/save" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" th:field="*{firstName}" class="form-control" placeholder="Input first name">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Input last name">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="Input phone number">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" ></small>
        </div>
        <div class="form-group">
            <label>Birthday</label>
            <input type="date" th:field="*{dateOfBirth}" class="form-control" placeholder="Input birthday">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></small>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>


<footer th:replace="/layout :: footer"></footer>
</body>
</html>