<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><span th:text="#{delete}"/> <span th:text="#{customers}"/></title>
</head>
<body>
    <h1><span th:text="#{delete}"/> <span th:text="#{customers}"/></h1>
    <h2><span th:text="#{message}"/></h2>
    <p>
        <a href="/home"><span th:text="#{home}"/></a>
    </p>
    <p>
        <a href="/customers"><span th:text="#{list}"/></a>
    </p>
    <form th:action="@{/delete-customer}" th:object="${customer}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td><span th:text="#{first}"/>:</td>
                <td th:text="${customer.firstName}"></td>
            </tr>
            <tr>
                <td><span th:text="#{last}"/>:</td>
                <td th:text="${customer.lastName}"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit"><span th:text="#{delete}"/></button></td>
            </tr>
        </table>
    </form>
</body>
</html>