<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>

<div class="container-fluid">
    <h3>Edit Service Resort</h3>
    <p>
        <a th:href="@{/service_resort/listServiceResort}">
            <button class="btn btn-outline-primary">Back to service resort list</button>
        </a>
    </p>
    <h4>You are editing service resort information : <span th:text="${serviceResort.nameService}"></span></h4>
    <div id="form">
        <form action="#" th:action="@{/service_resort/update}" th:object="${serviceResort}"
              method="POST" novalidate="novalidate">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label>Id Service Resort</label>
                <input type="text" th:value="${serviceResort.getCustomerCode()}" class="form-control" readonly>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Name Service Resort</label>
                        <input type="text" th:field="*{nameService}" class="form-control" placeholder="Name Service Resort">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nameService')}"
                               th:errors="*{nameService}"></small>
                    </div>
                    <div class="form-group">
                        <label>Area</label>
                        <input type="text" th:field="*{area}" class="form-control" placeholder="Area">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('area')}"
                               th:errors="*{area}"></small>
                    </div>
                    <div class="form-group">
                        <label>Max People</label>
                        <input type="text" th:field="*{maxPeople}" class="form-control" placeholder="Max People">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('maxPeople')}"
                               th:errors="*{maxPeople}"></small>
                    </div>
                    <div class="form-group">
                        <label>Rent Type</label>
                        <select class="form-control" id="selectRentType" th:field="*{rentType.id}">
                            <option
                                    th:each="type : ${rentTypeList}"
                                    th:value="${type.id}"
                                    th:text="${type.renTypeName}"
                                    th:selected="(${type.id} == *{rentType.id})"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Service Type</label>
                        <select class="form-control" id="selectServiceType" th:field="*{serviceType.id}">
                            <option
                                    th:each="type : ${serviceTypeList}"
                                    th:value="${type.id}"
                                    th:text="${type.serviceTypeName}"
                                    th:selected="(${type.id} == *{serviceType.id})"></option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Number Of Floors</label>
                        <input id="floor" type="text" th:field="*{numOfFloors}" class="form-control" placeholder="Number Of Floors">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('numOfFloors')}"
                               th:errors="*{numOfFloors}"></small>
                    </div>
                    <div class="form-group">
                        <label>Pool Area</label>
                        <input id="pool_area" type="text" th:field="*{poolArea}" class="form-control" placeholder="Pool Area">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('poolArea')}"
                               th:errors="*{poolArea}"></small>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input id="description" type="text" th:field="*{description}" class="form-control" placeholder="Description">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}"
                               th:errors="*{description}"></small>
                    </div>
                    <div class="form-group">
                        <label>Standard</label>
                        <input id="standard" type="text" th:field="*{standard}" class="form-control" placeholder="Standard">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('standard')}"
                               th:errors="*{standard}"></small>
                    </div>
                    <div class="form-group">
                        <label>Cost</label>
                        <input type="text" th:field="*{cost}" class="form-control" placeholder="Cost">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('cost')}"
                               th:errors="*{cost}"></small>
                    </div>
                </div>
            </div>
            <p><button class="btn btn-outline-success" type="reset">Reset</button></p>
            <p>
                <button type="submit" class="btn btn-outline-success">Update</button>
            </p>
        </form>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>